body .container,
body .span12,
body .row {
    max-width: 1026px !important;
    margin:auto;
}
.container-fluid {
	margin: 0px;
	padding: 0px!important;
}


/*Tuấn Anh chỉnh sửa CSS ngày 15/03/2018*/ 

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/UTMBebas.woff2') format('woff2'),
         url('../fonts/UTMBebas.woff') format('woff'),
         url('../fonts/UTMBebas.svg#UTMBebas') format('svg');
    font-weight: normal;
    font-style: normal;
}

.header {background: #fff}
.quick-menu li a { color: #000; text-transform: uppercase;font-weight: bold}
.quick-menu li {padding-right: 0}
.quick-menu li a:after { content: "|"; display: inline-block; margin-left: 15px;color: #000}
.quick-menu li:last-child a:after { display: none}
.menutop { border-bottom: 1px solid #e9e9e9; box-shadow: -1px 0 5px #e9e9e9; padding-bottom: 7px;margin-bottom: 7px}
.search-box { border: 1px solid #d4d6d9; padding-top: 0; padding: 5px;margin-top: 25px}
.search-box .search-input { outline: none; float: left; box-sizing: border-box; width: calc(100% - 96px);min-width: auto}
.search-box .search-button { float: right; outline: none;border-radius: 3px}
.logo-text,.logo-text a { color: #003864;font-family: Bebas}
.logo-text h3 {font-size: 30px}
.logo-text h4 {font-size: 23px}
.logo-text {padding-top: 12px}
.menumain {background: #004370}
.orange-line {display: none}
.trangchu a{font-size: 17px!important}

#linkwebsite { margin-top: 15px}
#linkwebsite .title {font-size: 24px;font-family: Times New Roman;padding-bottom: 5px;display: block;border-bottom: solid thin #dfdfdf;
    color: #4c4c4c;margin-bottom: 10px;}
#linkwebsite .swiper-slide { margin-bottom: 10px; width: calc((100% - 20px) / 2); margin-right: 20px;float: left}
#linkwebsite .swiper-slide:nth-child(2n) {margin-right: 0}
#linkwebsite .swiper-slide:last-child {margin-bottom: 0}
.slidebanner { width: 85%; float: left} 
.menumain,.list_afterbaner {background: #005180}
.list_afterbaner { width: 15%; float: right; height: auto; margin: 0;height: 400px}
.list_afterbaner ul { padding: 0; margin: 0}
.list_afterbaner ul li { padding: 0 10px; width: 100%; height: calc(400px / 6); box-sizing: border-box; display: table;position: relative}
.list_afterbaner ul li .item { width: 100%; position: absolute; top: 50%; transform: translateY(-50%);-moz-transform: translateY(-50%)}
.list_afterbaner ul li img { width: 35px!important; margin: 0; height: auto; position: absolute; left: 0; top: 50%; transform: translateY(-50%);-moz-transform: translateY(-50%)}
.list_afterbaner ul li a { width: calc(100% - 35px); float: right; margin: 0; text-align: left; padding-left: 10px; box-sizing: border-box;margin-top: 3px}

.footer {background: #0067b3 url(footer.png) no-repeat bottom center}
.footer-container .big-logo { padding: 0; border: none}
.footer-container .big-logo img {width: 100%}
.footer-address { color: #fff; font-size: 13px}
.footleft {margin-top: 40px}
.footer-info .title { font-weight: bold; border-bottom: 1px solid #dadada; padding-bottom: 5px;position: relative}
.footer-info .title:after { content: ""; height: 3px; width: 70px; position: absolute; bottom: -1px; background: red; left: 0}
.footer-info { font-size: 13px;line-height: 21px}
.footer-info ul li {margin-bottom: 3px}
/*End Tuấn Anh chỉnh sửa CSS ngày 15/03/2018*/


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) { 
	#menu .btn-toggle-left {
    	margin-left: 0px!important;
    }

    .slidebanner,.gallery-border { width: 100%;height: auto}
    .footleft {margin-top: 0}
    .footer-address {margin-top: 40px}
    .center-menu-box {width: 100%} 
    #panel { transform: none !important;-moz-transform: none!important}
    .list_afterbaner ul li img ,.list_afterbaner ul li .item{ position: static; transform: none; -moz-transform: none; width: auto !important; }
    .list_afterbaner ul li img {height: 35px}
    .list_afterbaner ul li{ width: 50%; float: left}
    .list_afterbaner ul li:nth-child(2n + 1){clear: both}
    .center-menu-box ul li { text-align: left; padding: 10px 5px}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.search-box {
		width: 366px;
		margin:auto;
		float: none;
	}
	.logo {
		width: 107px;
		margin: auto;
		float: none;
		padding-left: 0px;
	}
	.swiper2 {
	    padding-left: 5px;
	    padding-right: 5px;
	}
	.logo-text {
		padding: 15px 0px 0px;
		text-align: center;
		float: none;
	}
	.logo-text h3 {
		font-size: 18px;
	}
	.logo-text h4 {
		font-size: 15px;
	}
	.search-box { margin-bottom: 10px; }
 
	.footer-cat {
		float: none;
		text-align: left;
		margin-top: 15px;
	}
	.center-menu-box {
		margin:0px;
		height: auto;
		padding-top: 0px;
		text-align: center;
	}
	.center-menu-box ul {
		padding-left: 0px;
	}
	.center-menu-box img {
		width: 25px;
	}
	.center-menu-box ul li {
		display: block;
		height: auto;
		text-align: center;
		padding:15px 0px 15px 0px;
		border-top: dotted thin #1e89c7;
	}
	.center-menu-box ul li a {
		font-size: 12px;
		float: none;
		text-align: center;
		margin: 0px;
	}
	.center-menu-box ul li a br {
		display: none;
		margin-left: 5px;
	}

    .menumain .navbar-nav {margin: 0}
    .trangchu {display: none!important}
    .footer-container .big-logo img { width: auto; display: block; margin: auto}
    .footer-address { margin-top: 10px; padding:0}
    .center-menu-box ul li { padding: 10px; }
    .list_afterbaner ul li a {padding-left: 5px}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.view-cat {
        display: none;
    }
	
    .list_afterbaner ul li img {height: 21px} 
    .center-menu-box ul li { text-align: left;padding: 10px 5px}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .product-block .product-thumb .sale {
		position: absolute;
		top: 5%;
		right: 5%;
	}

    .search-box {width: 100%} 
}

