html, body{
  font-size: 13px;
  font-family: sans-serif, tahoma;
}
header{
  font-size: 13px;
  font-family: tahoma;
}
.justify-content-center {
  padding-left: 539px;
}
.nav{
  background-color:rgb(253, 252, 251) ! important;
  weight:100%;
  border-bottom:1px solid rgb(198, 213, 194) ! important;
}
form{
  padding-top:60px;
}
.logo{
  padding-left: 200px;
  height:50px;
}
.logo-text{
  padding-left: 200px;
}
#main{
  list-style-type:none;
}
.navbar{
  background-color: rgb(22, 73, 185) ! important;
  weight:100%;
  height:100%;
}
.navbar-brand{
}
.fa-home:before{
  padding-left:192px;
}
.navbar-nav{
  padding-left: 0px;
}
/* .navbar > .container, .navbar > .container-fluid{
  padding-left: 247px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
  color:
}
.navbar-brand{
  color:white;
}
.navbar-nav .dropdown-menu{
  background-color: rgb(231, 117, 37);
} */
/* .navbar-nav .dropdown-menu:hover{
  background-color:rgb(22, 73, 185);
} */
/* .nav-item{
  color:white;
}
.header ul li a{
  border-right: 1px solid black;
}
.header ul li a : hover{
  color:black;
} */
footer{
  background-color:rgb(56, 75, 218);
  color:white;
  padding:50px ;
}
hr .light{
  border-top: 1px solid rgb(245, 245, 245);
}
footer li {
  list-style-type: none;
}
footer li a{
  color:white;
}
footer li a :hover{
  color:white;
}
footer .thumb{
  padding-bottom: 10px;
}
.dropdown{
   position: relative;
   display: inline-block;
}
footer .media-body{
  margin-top: 5px;
}
.dropdown-content{
   display: none;
   position: absolute;
   background-color: #f5f5f5;
   z-index: 1;
   list-style: none;
}
.dropdown:hover .dropdown-content{
   display: block;
}
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
